* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: green;
  text-transform: capitalize;
  font-weight: bold;
}

th {
}

a:link {

}

a:visited {

}

a:hover {

}

a:active
{

}

html,
body {
  background-image: linear-gradient(to bottom, #9fc5e8, #4116b1);
  height: 100%;
}

button {
  width: 140px;
  border: 2px solid green;
  padding: 5px 2px 5px 2px;
  background-color: #fff;
}

button:hover {
  background-color: #333;
}

.btn_del {
  width: 30px;
  border-color: #990000;
  background-color: #990000;
  border-radius: 50%;
}

.btn_upd {
  width: 30px;
  border-color: #38761d;
  background-color: #38761d;
  border-radius: 50%;
}

.btn_save {
  width: 30px;
  border-color: #bcbcbc;
  background-color: #bcbcbc;
  border-radius: 50%;
}

input {
  width: 140px;
  background-color: #e8e4f3;
  border: 0;
  padding: 5px 5px 15px 5px;
  text-transform: capitalize;
  font-weight: 400;
  box-shadow: 1px 1px inset #999;
  border-radius: 4px;
  font-size: 12px;
}

select {
  width: 140px;
  background-color: #e8e4f3;
  border: 0;
  padding: 5px 5px 15px 5px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 4px;
  font-size: 12px;
}

select:invalid {
  color: ;
}

option {
  width: 120px;
  order: 2px solid green;
  background-color: #fff;
}

.fa-trash,
.fa-arrow-right,
.fa-plus {
  color: white;
  font-weight: bold;
}

.row {
  padding-top: 10%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 33.3%;
}

.col-2 {
  width: 33.3%;
}

.col-3 {
  width: 33.3%;
}
