* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  background-image: linear-gradient(to bottom, #9fc5e8, #4116b1);
  height: 100%;
}

a {
  text-decoration: none;
  color: green;
  text-transform: capitalize;
  font-weight: bold;
}

th {
  text-align: left;
}

button {
  padding: 5px 2px 5px 2px;
  background-color: #fff;
}

button:hover {
  background-color: #333;
}

.btn_del {
  width: 30px;
  border-color: #900;
  background-color: #900;
  border-radius: 50%;
}

.btn_upd {
  width: 30px;
  border-color: #38761d;
  background-color: #38761d;
  border-radius: 50%;
}

.btn_save {
  width: 30px;
  border-color: #bcbcbc;
  background-color: #bcbcbc;
  border-radius: 50%;
}

input {
  background-color: #e8e4f3;
  padding: 5px 5px 5px 5px;
  text-transform: capitalize;
  font-weight: 400;
  box-shadow: 1px 1px inset #999;
  border-radius: 4px;
  font-size: 12px;
}

select {
  background-color: #e8e4f3;
  border: 0;
  padding: 5px 5px 5px 5px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 4px;
  font-size: 12px;
}

select:invalid {
  color: grey;
}

.fa-trash,
.fa-arrow-right,
.fa-plus {
  color: white;
  font-weight: bold;
}

.container-lists {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-gap: 15px 15px;
}

[class*="col-"] {
  grid-column: auto;
}

.col-1 {
  grid-column-start: 1;
  grid-row-end: span 4;
}

.col-2 {
  grid-column-start: 2;
}

.col-3 {
  grid-column-start: 3;
}

.col-4 {
  grid-column-start: 4;
}

.col-5 {
  grid-column-start: 1;
}

.col-6 {
  grid-column-start: 2;
}
